@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
  /* Color Platte */
  --Geen: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

body{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--Grey-900);
    display: flex;
    justify-content: center;
}

.avatar{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}
h3{
    font-family: "Inter", sans-serif;
    color: var(--White);
    font-weight: 400;
}
span{
    color: var(--Geen);
    font-size: 14px;
}
.details{
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bio-details{
    color: var(--White);
    font-size: 14px;
    padding-top: 20px;
}
.social-link{
    display: flex;
    margin-bottom: 10px;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    padding-left: 0;
}
ul li:hover{
background-color: var(--Geen);
border: 1px solid var(--Geen);
}
ul li{
    list-style: none;
    color: var(--White);
    border: 1px solid var(--Grey-700);
    background-color: var(--Grey-700);
    padding: 10px 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
ul li a{
    text-decoration: none;
    color: var(--White);
    text-align: center;
    
}
ul li a:hover{
    color: var(--Grey-900);
    font-weight: bold;
}
@media screen and (min-width:56.25rem){
    .container{
        display: flex;
        justify-content: center;
        margin-top: 6.5rem;
        border: 1px solid var(--Grey-800);
        background-color: var(--Grey-800);
        width: 300px;
        height: auto;
        border-radius: 10px;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
}

@media screen and (max-width: 56.16rem){
    .container{
        display: flex;
        justify-content: center;
        margin-top: 6.5rem;
        border: 1px solid var(--Grey-800);
        background-color: var(--Grey-800);
        width: 300px;
        height: auto;
        border-radius: 10px;
    }
    .wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    h3{
    font-family: "Inter", sans-serif;
    color: var(--White);
    font-size: medium;
}
    span{
        color: var(--Geen);
        font-size: 12px;
    }
    .bio-details{
        color: var(--White);
        font-size: 11px;
        padding-top: 20px;
    }
    
}
